body{
 margin: 0;   
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5.5em;
    height: 100%;
}



#searchbar_and_home{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 26em;
}
#searchbar_and_home button{
    background-color: #1f1f1f;
    padding: 8px 12px;
    border-radius: 48%;
    border: none;
    scale: 0.95;
}
#searchbar_and_home button:hover{
    scale: 1;
}
#searchbar_and_home svg{
    scale: 0.95;
}



#searchbar{
    position: relative;
    height: 44px;
    width: 28.8em;
    border-radius: 22px;
    background-color: #1f1f1f;
    scale: 1.05;
}
#searchbar:hover{
    background-color: #2a2a2a;
}
#searchbar input::placeholder{
    margin-left: 1.2em;
    position: absolute;
    color: #b3b3b3;
    scale: 1.2;
}
#searchbar input{
    width: 75%;
    margin-left: 3em;
    height: 100%;
    background-color: transparent;
    caret-color: white;
    border: none;
}
#searchbar input:focus{
    outline: none;
}
#searchbar:focus-within{
    outline: 2px solid white;
}
#searchbar svg{
    position: absolute;
    top:0.6em;
    left:0.6em;
    fill: #b3b3b3;
}
#searchbar:hover svg{
    fill: white;
}