:root{
    font-size: 16px;
}
body{
 margin: 0;   
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5.5em;
    height: 100%;
}

/* searchbar */

#searchbar_and_home{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
    margin-left: 26em;
}
#searchbar_and_home button{
    background-color: #1f1f1f;
    padding: 8px 12px;
    border-radius: 48%;
    border: none;
    scale: 0.95;
}
#searchbar_and_home button:hover{
    scale: 1;
}
#searchbar_and_home svg{
    scale: 0.95;
}
/* #searchbar:has(input:focus) + button svg{
    fill:  white;
} */

#text_input_in_focus:focus-within{
    color: white;
}
#searchbar{
    position: relative;
    height: 44px;
    width: 28.8em;
    border-radius: 22px;
    background-color: #1f1f1f;
    scale: 1.05;
    cursor: pointer;
}
#searchbar:hover{
    background-color: #2a2a2a;
}
#searchbar input::placeholder{
    margin-left: 1em;
    position: absolute;
    color: #b3b3b3;
    scale: 1.15;
}
#searchbar input{
    width: 80%;
    margin-top: 0.8em;
    margin-left: 3em;
    height: 50%;
    background-color: transparent;
    caret-color: white;
    border: none;
    cursor: pointer;
    border-right: 1px solid #b3b3b3;
}
#searchbar input:focus{
    outline: none;
}
#searchbar:focus-within{
    outline: 2px solid white;
}
#searchiconsvg{
    position: absolute;
    top:0.6em;
    left:0.6em;
    fill: #b3b3b3;
}
#browseiconsvg{
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    fill: none;
}
#searchbar:hover #searchiconsvg{
    fill: white;
}


/* signup,login */

#signup_and_login{
    margin-left: 19em;
    width: 13em;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2em;

}
#signup_and_login h3{
    color: #b3b3b3;
    font-family: Arial, Helvetica, sans-serif;
    scale: 0.8;
    cursor: pointer;
}

#signup_and_login h3:hover{
    scale: 0.9;
    color: white;
}
#signup_and_login button{
    border-radius: 30px;
    padding: 1.2em 2.2em;
    background-color: white;
}
#signup_and_login span{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: medium;
    scale: 0.7;
    font-weight: 550;
}

#signup_and_login button:hover{
    scale: 1.05;
    background-color: hsl(0, 3%, 89%);
}


/* section2 left and right side divs base */
#section2{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100vw;
    height: 39.5rem;
    background-color: transparent;
}

#section2leftside{
    width: 23.5rem;
    height: 100%;
    background-color:  #121212;
    border-radius: 10px;
    margin:0.5rem 0..25rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

#section2rightside{
    margin: 0.5rem 0.25;
    margin-right: 0.5rem;
    height: 100%;
    flex-grow: 1;
    background: linear-gradient(to bottom,#2a2a2a,#121212);
    border-radius: 10px;
    display: block;
    overflow-y: scroll;
}
.gridcontainer{
    margin: 1em 1em;
    margin-top: 2em;
    background-color: transparent;
    border: 1px solid black;
    height: 15rem;
    width: 97%;
}

#section2rightside::-webkit-scrollbar{
    width: 1rem;
}
section3rightside::-webkit-scrollbar-thumb{
    background: red;
}
#section3{
    width: 99%;
    height: 4rem;
    margin: 0.5rem 0.5rem;
    background:linear-gradient(90deg, #af2896, #509bf5);
}

/* section2 left side library section */

#section2leftsidelibrarydiv{
    width: 90%;
    margin: 0.4rem 1rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#section2leftsidelibrarydiv button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 8.5rem;
}
#section2leftsidelibrarydiv button:hover h3{
    color: white;
}
#section2leftsidelibrarysvg{
    fill: #b3b3b3;
    transition: fill 0.33s;
}
#section2leftsidelibrarydiv button:hover #section2leftsidelibrarysvg{
    fill: white;
}
#section2leftsidelibrarydiv h3{
    color: #b3b3b3;
    font-size: 0.95rem;
    font-weight: 750;
    transition: color 0.33s;
}

#section2leftsidelibrarydiv span{
    position: relative;
}

#section2leftsidelibrarydiv span::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
}
#leftsidelibrarydiv_cross_svg{
    position: relative;
    z-index: 5;
}
#section2leftsidelibrarydiv span:hover::after{
    background-color: #2a2a2a;
}
#leftsidelibrarydiv_cross_svg{
    fill: #b3b3b3;
    transition: fill 0.33s;
}

#section2leftsidelibrarydiv span:hover #leftsidelibrarydiv_cross_svg{
    fill: white;
}

/* section2 left side 2nd and 3rd div abbreviation s2ls*/


/* s2ls first */

#s2ls_first{
    width: 94%;
    height: 21%;
    background-color: #1f1f1f;
    border-radius: 3%;
    margin: 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.s2ls_first_and_second_text_elts{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.s2ls_first_and_second_text_elts h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.5rem 1.5rem;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 550;
    scale: 1.05;  
}
.s2ls_first_and_second_text_elts h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin:  0 1rem;
    font-weight: 600;
    margin-top: -0.6rem;
    scale: 1;
}

#s2ls_first button{
    padding: 0;
    width: 8rem;
    margin-left: 1rem;
    cursor: pointer;
    height:2rem;
    border-radius: 64px;
    border: none;
    transform: translateY(-20%);
}

#s2ls_first button:hover{
    scale: 1.05;
}
#s2ls_first button span{
    font-weight: 550;
}

/* s2ls_second */

#s2ls_second{
    width: 94%;
    height: 21%;
    background-color: #1f1f1f;
    border-radius: 3%;
    margin: 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

#s2ls_second button{
    padding: 0;
    width: 9rem;
    margin-left: 1rem;
    cursor: pointer;
    height:2rem;
    border-radius: 64px;
    border: none;
    transform: translateY(-20%);
}
#s2ls_second button:hover{
    scale: 1.05;
}
#s2ls_second button span{
    font-weight: 550;
}