body{
 margin: 0;   
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5.5em;
    height: 100%;
}

/* searchbar */

#searchbar_and_home{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
    margin-left: 26em;
}
#searchbar_and_home button{
    background-color: #1f1f1f;
    padding: 8px 12px;
    border-radius: 48%;
    border: none;
    scale: 0.95;
}
#searchbar_and_home button:hover{
    scale: 1;
}
#searchbar_and_home svg{
    scale: 0.95;
}
/* #searchbar:has(input:focus) + button svg{
    fill:  white;
} */


#searchbar{
    position: relative;
    height: 44px;
    width: 28.8em;
    border-radius: 22px;
    background-color: #1f1f1f;
    scale: 1.05;
    cursor: pointer;
}
#searchbar:hover{
    background-color: #2a2a2a;
}
#searchbar input::placeholder{
    margin-left: 1em;
    position: absolute;
    color: #b3b3b3;
    scale: 1.15;
}
#searchbar input{
    width: 80%;
    margin-top: 0.8em;
    margin-left: 3em;
    height: 50%;
    background-color: transparent;
    caret-color: white;
    border: none;
    cursor: pointer;
    border-right: 1px solid #b3b3b3;
}
#searchbar input:focus{
    outline: none;
}
#searchbar:focus-within{
    outline: 2px solid white;
}
#searchiconsvg{
    position: absolute;
    top:0.6em;
    left:0.6em;
    fill: #b3b3b3;
}
#browseiconsvg{
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    fill: none;
}
#searchbar:hover #searchiconsvg{
    fill: white;
}


/* signup,login */

